<ul class="list-group-item aling-items-center">
    <li class="list-group-item d-flex justify-content-between align-items-center p-3"
        [ngClass]="{
            'list-group-item-success': isFirst,
            'list-group-item-primary': isLast
        }"
        *ngFor="let character of characterList; let item = index; let isFirst = first; let isLast = last;">
        <div>
            <span class="text-primary">{{ item + 1}} - </span>
            <span>{{character.name}} - </span>
            <strong>Power: </strong>
            <span>{{character.power}}</span>
        </div>
        <button class="btn btn-danger ms-3" (click)="onDeleteCharacter(character.id!)">x</button>
    </li>
</ul>


git commit -m "Nueva versión de la aplicación DBZ"
Subir los cambios:
bash


git push origin main
Recomendaciones importantes:

Asegúrate de tener el archivo .gitignore configurado para excluir la carpeta node_modules/ y otros archivos innecesarios
Si es la primera vez que subes el proyecto, es posible que necesites hacer un git pull antes del push
Si tienes una rama diferente a main, reemplaza main por el nombre de tu rama
Si el repositorio ya tiene código y quieres forzar la actualización (con precaución):

bash


git push -f origin main