<ul class="list-group-item aling-items-center">
    <li class="list-group-item d-flex justify-content-between align-items-center p-3"
        [ngClass]="{
            'list-group-item-success': isFirst,
            'list-group-item-primary': isLast
        }"
        *ngFor="let character of characterList; let item = index; let isFirst = first; let isLast = last;">
        <div>
            <span class="text-primary">{{ item + 1}} - </span>
            <span>{{character.name}} - </span>
            <strong>Power: </strong>
            <span>{{character.power}}</span>
        </div>
        <button class="btn btn-danger ms-3" (click)="onDeleteCharacter(character.id!)">x</button>
    </li>
</ul>
